@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="../css/AdminLTE.min.css">

<div class="row">
    <div class="col-md-11">
        <div class="box box-primary" style="margin-top: 7%; margin-left: 2.5%;">
            <div class="box-header with-border">
                <h3 class="box-title">Análise Consolidada das publicações </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>

                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="publicacao1" style="height:230px"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-11">
        <div class="box box-solid" style=" margin-left: 2.5%;">
            <div class="box-header with-border">
                <h3 class="box-title">Análise por publicação</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="box-group" id="accordion">
                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                    <div class="panel box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    O que fazer em uma viagem nas Ilhas Cayman?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="box-body">
                                <button type="button" class="btn bg-navy btn-flat margin">1ª Praia</button>
                                <button type="button" class="btn bg-navy btn-flat margin">2ª Seguro</button>
                                <button type="button" class="btn bg-navy btn-flat margin">3ª Minuto</button>
                                <button type="button" class="btn bg-navy btn-flat margin">4ª Carro</button>
                                <button type="button" class="btn bg-navy btn-flat margin">5ª Viagem</button>
                                <button type="button" class="btn bg-navy btn-flat margin">6ª Familia</button>
                                <button type="button" class="btn bg-navy btn-flat margin">7ª Tranquilidade</button>
                                <button type="button" class="btn bg-navy btn-flat margin">8ª Crianças</button>
                                <button type="button" class="btn bg-navy btn-flat margin">9ª Conforto</button>
                                <button type="button" class="btn bg-navy btn-flat margin">10ª Paz</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Praia de Antunes: tudo o que você precisa saber
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="box-body">
                                <button type="button" class="btn bg-navy btn-flat margin">1ª Praia</button>
                                <button type="button" class="btn bg-navy btn-flat margin">2ª Seguro</button>
                                <button type="button" class="btn bg-navy btn-flat margin">3ª Minuto</button>
                                <button type="button" class="btn bg-navy btn-flat margin">4ª Carro</button>
                                <button type="button" class="btn bg-navy btn-flat margin">5ª Viagem</button>
                                <button type="button" class="btn bg-navy btn-flat margin">6ª Familia</button>
                                <button type="button" class="btn bg-navy btn-flat margin">7ª Tranquilidade</button>
                                <button type="button" class="btn bg-navy btn-flat margin">8ª Crianças</button>
                                <button type="button" class="btn bg-navy btn-flat margin">9ª Conforto</button>
                                <button type="button" class="btn bg-navy btn-flat margin">10ª Paz</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    O que você precisa para dirigir com segurança?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="box-body">
                                <button type="button" class="btn bg-navy btn-flat margin">1ª Praia</button>
                                <button type="button" class="btn bg-navy btn-flat margin">2ª Seguro</button>
                                <button type="button" class="btn bg-navy btn-flat margin">3ª Minuto</button>
                                <button type="button" class="btn bg-navy btn-flat margin">4ª Carro</button>
                                <button type="button" class="btn bg-navy btn-flat margin">5ª Viagem</button>
                                <button type="button" class="btn bg-navy btn-flat margin">6ª Familia</button>
                                <button type="button" class="btn bg-navy btn-flat margin">7ª Tranquilidade</button>
                                <button type="button" class="btn bg-navy btn-flat margin">8ª Crianças</button>
                                <button type="button" class="btn bg-navy btn-flat margin">9ª Conforto</button>
                                <button type="button" class="btn bg-navy btn-flat margin">10ª Paz</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

</div>

<!-- jQuery 3 -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- ChartJS -->
<script src="../bower_components/chart.js/Chart.js"></script>
<!-- FastClick -->
<script src="../bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../js/demo.js"></script>

<script>
    $(function () {
        /* ChartJS
         * -------
         * Here we will create a few charts using ChartJS
         */

        var areaChartData = {
            labels: ['Praia', 'Seguro', 'Minuto', 'Carro', 'Viagem', 'Familia', 'Tranquilidade','Crianças','Conforto','Paz'],
            datasets: [
                {
                    label: 'Electronics',
                    fillColor: 'rgba(60,141,188,0.9)',
                    strokeColor: 'rgba(60,141,188,0.8)',
                    pointColor: '#3b8bba',
                    pointStrokeColor: 'rgba(60,141,188,1)',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data: [81, 80, 65, 57, 56, 55, 40, 21, 16, 9]
                }
            ]
        }

        //-------------
        //- BAR CHART -
        //-------------
        var barChartCanvas = $('#publicacao1').get(0).getContext('2d')
        var barChart = new Chart(barChartCanvas)
        var barChartData = areaChartData

        var barChartOptions = {
            //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: true,
            //String - Colour of the grid lines
            scaleGridLineColor: 'rgba(0,0,0,.05)',
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - If there is a stroke on each bar
            barShowStroke: true,
            //Number - Pixel width of the bar stroke
            barStrokeWidth: 2,
            //Number - Spacing between each of the X value sets
            barValueSpacing: 5,
            //Number - Spacing between data sets within X values
            barDatasetSpacing: 1,
            //String - A legend template
            //legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
            //Boolean - whether to make the chart responsive
            responsive: true,
            maintainAspectRatio: true
        }

        barChartOptions.datasetFill = false
        barChart.Bar(barChartData, barChartOptions)

    })
</script>
